---
import Base from '../../layouts/Base.astro';
import { getCollection, render } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { id: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<Base title={post.data.title}>
  <h1>{post.data.title}</h1>
  <h4>{post.data.date.toISOString().split('T')[0]}</h4>
  <Content />
</Base>
