---
import Base from '../../layouts/Base.astro';
---

<Base title="Projects">
  <h1>Projects</h1>
  <ul>
    <li>[2017] <a href="https://cse442-17s.github.io/Syrian-Aid-and-Outcomes/final/">Syrian Civil War Data Visualization (with Lynsey Liu and Emily Leland)</a></li>
  </ul>
</Base>
